In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=ebb8252c049e20886ea9492ed16b0ee11e8c0d954a0efe1e99f6d44f144a3fdc
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
#Import libraries
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [3]:
#Initialize Spark Session
spark = SparkSession.builder \
    .appName("YassirTaxiService") \
    .getOrCreate()

In [5]:
source_data = spark.read.csv("test.csv", header=True)

# Get the first line of the DataFrame.
first_line = source_data.head()

# Display the first line.
print(first_line)

Row(ID='0x2318 ', Delivery_person_ID='COIMBRES13DEL01 ', Delivery_person_Age='NaN ', Delivery_person_Ratings='NaN ', Restaurant_latitude='11.003669', Restaurant_longitude='76.976494', Delivery_location_latitude='11.043669', Delivery_location_longitude='77.016494', Order_Date='30-03-2022', Time_Orderd='NaN ', Time_Order_picked='15:05:00', Weatherconditions='conditions NaN', Road_traffic_density='NaN ', Vehicle_condition='3', Type_of_order='Drinks ', Type_of_vehicle='electric_scooter ', multiple_deliveries='1', Festival='No ', City='Metropolitian ')

In [6]:
#print schema
source_data.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Delivery_person_ID: string (nullable = true)
 |-- Delivery_person_Age: string (nullable = true)
 |-- Delivery_person_Ratings: string (nullable = true)
 |-- Restaurant_latitude: string (nullable = true)
 |-- Restaurant_longitude: string (nullable = true)
 |-- Delivery_location_latitude: string (nullable = true)
 |-- Delivery_location_longitude: string (nullable = true)
 |-- Order_Date: string (nullable = true)
 |-- Time_Orderd: string (nullable = true)
 |-- Time_Order_picked: string (nullable = true)
 |-- Weatherconditions: string (nullable = true)
 |-- Road_traffic_density: string (nullable = true)
 |-- Vehicle_condition: string (nullable = true)
 |-- Type_of_order: string (nullable = true)
 |-- Type_of_vehicle: string (nullable = true)
 |-- multiple_deliveries: string (nullable = true)
 |-- Festival: string (nullable = true)
 |-- City: string (nullable = true)

In [7]:
#Show data
source_data.show()

+-------+------------------+-------------------+-----------------------+-------------------+--------------------+--------------------------+---------------------------+----------+-----------+-----------------+-----------------+--------------------+-----------------+-------------+-----------------+-------------------+--------+--------------+
|     ID|Delivery_person_ID|Delivery_person_Age|Delivery_person_Ratings|Restaurant_latitude|Restaurant_longitude|Delivery_location_latitude|Delivery_location_longitude|Order_Date|Time_Orderd|Time_Order_picked|Weatherconditions|Road_traffic_density|Vehicle_condition|Type_of_order|  Type_of_vehicle|multiple_deliveries|Festival|          City|
+-------+------------------+-------------------+-----------------------+-------------------+--------------------+--------------------------+---------------------------+----------+-----------+-----------------+-----------------+--------------------+-----------------+-------------+-----------------+-------------------+--------+--------------+
|0x2318 |  COIMBRES13DEL01 |               NaN |                   NaN |          11.003669|           76.976494|                 11.043669|                  77.016494|30-03-2022|       NaN |         15:05:00|   conditions NaN|                NaN |                3|      Drinks |electric_scooter |                  1|     No |Metropolitian |
|0x3474 |   BANGRES15DEL01 |                 28|                    4.6|          12.975377|           77.696664|                 13.085377|                  77.806664|29-03-2022|   20:30:00|         20:35:00| conditions Windy|                Jam |                0|       Snack |      motorcycle |                  1|     No |Metropolitian |
|0x9420 |    JAPRES09DEL03 |                 23|                    4.5|          26.911378|           75.789034|                 27.001378|                  75.879034|10-03-2022|   19:35:00|         19:45:00|conditions Stormy|                Jam |                0|      Drinks |      motorcycle |                  1|     No |Metropolitian |
|0x72ee |    JAPRES07DEL03 |                 21|                    4.8|          26.766536|           75.837333|                 26.856536|                  75.927333|02-04-2022|   17:15:00|         17:20:00|   conditions Fog|             Medium |                1|        Meal |         scooter |                  1|     No |Metropolitian |
|0xa759 |   CHENRES19DEL01 |                 31|                    4.6|          12.986047|           80.218114|                 13.096047|                  80.328114|27-03-2022|   18:25:00|         18:40:00| conditions Sunny|             Medium |                2|      Drinks |         scooter |                  1|     No |Metropolitian |
|0xc4af |    GOARES04DEL01 |                 26|                    4.7|            15.5696|           73.742294|                   15.5796|                  73.752294|15-02-2022|   09:45:00|         09:55:00|   conditions Fog|                Low |                0|      Drinks |      motorcycle |                  1|     No |Metropolitian |
|0x3b9d |   BANGRES19DEL02 |                 23|                    4.8|          12.914264|             77.6784|                 12.934264|                    77.6984|01-04-2022|   10:00:00|         10:05:00| conditions Windy|                Low |                2|      Buffet |         scooter |                  0|     No |        Urban |
|0xdd42 |    KOLRES06DEL02 |                 26|                    4.8|          22.533662|           88.366217|                 22.583662|                  88.416217|13-02-2022|   18:00:00|         18:05:00| conditions Windy|             Medium |                0|        Meal |      motorcycle |                  1|     No |Metropolitian |
|0x872b |    MYSRES05DEL03 |                 35|                    4.9|          12.323978|           76.627961|                 12.413978|                  76.717961|02-03-2022|   21:30:00|         21:45:00|conditions Cloudy|                Jam |                2|       Snack |         scooter |                  1|     No |Metropolitian |
|0x6001 |    HYDRES04DEL03 |                 23|                    4.9|          17.411028|           78.329645|                 17.441028|                  78.359645|05-04-2022|   20:45:00|         20:55:00|   conditions Fog|                Jam |                1|        Meal |      motorcycle |                  0|     No |Metropolitian |
|0xd845 |    KOCRES09DEL01 |                 24|                    4.8|          10.000706|           76.349516|                 10.040706|                  76.389516|17-02-2022|   14:35:00|         14:40:00|conditions Stormy|               High |                2|       Snack |      motorcycle |                  1|     No |Metropolitian |
|0x4946 |    VADRES04DEL01 |                 22|                    4.6|                  0|                   0|                      0.11|                       0.11|08-03-2022|   23:40:00|         23:50:00| conditions Windy|                Low |                1|      Drinks |         scooter |               NaN |     No |        Urban |
|0x4598 | RANCHIRES14DEL03 |                 35|                    4.8|                  0|                   0|                      0.06|                       0.06|01-04-2022|   22:15:00|         22:25:00| conditions Sunny|                Low |                2|       Snack |         scooter |                  0|     No |Metropolitian |
|0xbd51 |   BANGRES11DEL01 |                 33|                    4.8|          12.934365|           77.616155|                 13.044365|                  77.726155|16-03-2022|   23:40:00|         23:55:00| conditions Windy|                Low |                2|      Drinks |electric_scooter |                  0|     No |        Urban |
|0x73ec |RANCHIRES010DEL03 |                 36|                    4.6|          23.354422|             85.3329|                 23.414422|                    85.3929|17-03-2022|   21:30:00|         21:40:00|   conditions Fog|                Jam |                1|        Meal |         scooter |                  0|     No |Metropolitian |
|0x5ca7 |    HYDRES19DEL03 |                 34|                    4.6|          17.458998|           78.500366|                 17.488998|                  78.530366|01-04-2022|   20:35:00|         20:50:00|conditions Cloudy|                Jam |                2|       Snack |electric_scooter |                  0|     No |Metropolitian |
|0x9fa6 |  COIMBRES03DEL03 |                 38|                    4.2|          11.025083|           77.015393|                 11.055083|                  77.045393|15-03-2022|   20:30:00|         20:35:00| conditions Windy|                Jam |                2|      Buffet |      motorcycle |                  1|     No |Metropolitian |
|0x914e |    HYDRES12DEL02 |                 34|                    4.6|          17.429585|           78.392621|                 17.559585|                  78.522621|14-03-2022|   21:55:00|         22:10:00| conditions Sunny|                Jam |                2|       Snack |         scooter |                  0|     No |Metropolitian |
|0x36e5 |   CHENRES20DEL03 |                 37|                    4.7|          12.975996|           80.221898|                 13.005996|                  80.251898|24-03-2022|   18:35:00|         18:50:00|conditions Cloudy|             Medium |                2|       Snack |         scooter |                  0|     No |Metropolitian |
|0xd82e |    KOCRES09DEL02 |                 21|                    4.5|          10.000706|           76.349516|                 10.130706|                  76.479516|16-02-2022|   21:20:00|         21:25:00|conditions Stormy|                Jam |                1|      Drinks |         scooter |                  1|     No |        Urban |
+-------+------------------+-------------------+-----------------------+-------------------+--------------------+--------------------------+---------------------------+----------+-----------+-----------------+-----------------+--------------------+-----------------+-------------+-----------------+-------------------+--------+--------------+
only showing top 20 rows

In [12]:
#Create a temporary view for the DataFrame
source_data.createOrReplaceTempView("taxi_service")

In [39]:
#Number of deliveries made by a given delivery person.
driver_id = "COIMBRES13DEL01"
num_deliveries_by_driver = spark.sql(f"""
    SELECT COUNT(*) AS num_deliveries
    FROM taxi_service
    WHERE Delivery_person_ID like '%{driver_id}%'
""").collect()[0][0]
print("Nombre de livraisons effectuées par le livreur", driver_id, ":", num_deliveries_by_driver)

Nombre de livraisons effectuées par le livreur COIMBRES13DEL01 : 23

In [42]:
#Total revenue generated by a delivery person over a given period.
start_date = "01-01-2022"
end_date = "31-03-2023"
driver_id = "COIMBRES13DEL01"
total_revenue_by_driver = spark.sql(f"""
    SELECT SUM(CASE WHEN Type_of_order = 'Buffet ' THEN 10
                    WHEN Type_of_order = 'Snack ' THEN 15
                    ELSE 0 END) AS total_revenue
    FROM taxi_service
    WHERE Delivery_person_ID like '%{driver_id}%'
    AND Order_Date BETWEEN '{start_date}' AND '{end_date}'
""").collect()[0][0]
print("Revenu total généré par le livreur", driver_id, "entre", start_date, "et", end_date, ":", total_revenue_by_driver)

Revenu total généré par le livreur COIMBRES13DEL01 entre 01-01-2022 et 31-03-2023 : 155

In [45]:
#Top 10 highest-rated delivery persons.
top_rated_drivers = spark.sql("""
    SELECT Delivery_person_ID, AVG(Delivery_person_Ratings) AS avg_rating
    FROM taxi_service WHERE  Delivery_person_Ratings !='NaN '
    GROUP BY Delivery_person_ID
    ORDER BY avg_rating DESC
    LIMIT 10
""")
top_rated_drivers.show()

+------------------+-----------------+
|Delivery_person_ID|       avg_rating|
+------------------+-----------------+
|    KNPRES14DEL02 |5.066666666666666|
|   AURGRES16DEL03 |              5.0|
|   AGRRES010DEL02 |              5.0|
|   AURGRES08DEL01 |              5.0|
|    KOCRES13DEL03 |              5.0|
|    KOLRES03DEL01 |              5.0|
|    KOCRES17DEL03 |              5.0|
|    BHPRES15DEL02 |              5.0|
|    KOCRES07DEL01 |              5.0|
|    DEHRES04DEL03 |              5.0|
+------------------+-----------------+

In [47]:
#Total number of deliveries per order type.
deliveries_by_order_type = spark.sql("""
    SELECT Type_of_order, COUNT(*) AS num_deliveries
    FROM taxi_service
    GROUP BY Type_of_order
""")
deliveries_by_order_type.show()

+-------------+--------------+
|Type_of_order|num_deliveries|
+-------------+--------------+
|       Snack |          2815|
|      Buffet |          2870|
|      Drinks |          2920|
|        Meal |          2794|
+-------------+--------------+

In [48]:
#Percentage of multiple deliveries relative to the total deliveries
multiple_deliveries_percentage = spark.sql("""
    SELECT
        (COUNT(CASE WHEN multiple_deliveries = True THEN 1 END) / COUNT(*)) * 100 AS multiple_deliveries_percentage
    FROM taxi_service
""").collect()[0][0]
print("Pourcentage de livraisons multiples :", multiple_deliveries_percentage)

Pourcentage de livraisons multiples : 61.97912097552417