<a name="cell-id1"></a>
##<h2>**Part 1: Data Schema Enforcement with PySpark**</h2>
I use metadata to track schema changes, keeping a table updated with current and expected schemas. When new data arrives, I'd compare it to the expected schema. If there are differences, I'd adjust the data to match, adding new fields or changing data types as needed.

Using PySpark, I'd read the metadata and data, compare schemas, transform data accordingly.

I'd consider scenarios like adding new fields or updating data types. And for this exercise, I'd use CSV data.

This approach ensures our data pipeline stays agile, ready to handle any schema changes that come our way.

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=f79b7c6a358b60958d034efad9396dfc9d4c4dbc9785b719ef7e7af05f1e6d47
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
#Import libraries
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType,DateType,FloatType
from pyspark.sql.functions import lit
from pyspark.sql.functions import to_date

In [ ]:
#Create a Spark session
spark = SparkSession.builder \
    .appName("Schema Evolution Management") \
    .getOrCreate()

In [ ]:
# Define the expected schema
expected_schema = StructType([
    StructField("EmpID", IntegerType()),
    StructField("Name", StringType()),
    StructField("Gender", StringType()),
    StructField("Date_of_Birth", StringType()),
    StructField("Age", StringType()),
    StructField("Join_Date", StringType()),
    StructField("GROSS", StringType()),
    StructField("Net_Pay", StringType()),
    StructField("Deduction", StringType()),
    StructField("Deduction_percentage", FloatType()),
    StructField("Designation", StringType()),
    StructField("Department", StringType()),
    #Change the type of the column Date Of Birth
    StructField("Deduction_percentage", FloatType()),
    StructField("Tenure_in_org_in_months", IntegerType()),
    #ADD this two fields
    StructField("NumberChildren", StringType()),
    StructField("Address", StringType())

])

In [ ]:
source_data = spark.read.csv("Employee.csv", header=True)

# Get the first line of the DataFrame.
first_line = source_data.head()

# Display the first line.
print(first_line)

Row(EmpID='19575', Name='Keven Norman', Gender='M', Date_of_Birth='3/9/94', Age='25', Join_Date='2/12/19', Tenure_in_org_in_months='7', GROSS='74922', Net_Pay='71494', Deduction='3428', Deduction_percentage='4.58', Designation='Product Operations Analyst.Associate.', Department='IT Product Management & Ops')

In [ ]:
#print schema
source_data.printSchema()

root
 |-- EmpID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Date_of_Birth: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Join_Date: string (nullable = true)
 |-- Tenure_in_org_in_months: string (nullable = true)
 |-- GROSS: string (nullable = true)
 |-- Net_Pay: string (nullable = true)
 |-- Deduction: string (nullable = true)
 |-- Deduction_percentage: string (nullable = true)
 |-- Designation: string (nullable = true)
 |-- Department: string (nullable = true)

In [ ]:
#Show data
source_data.show()

+-----+--------------+------+-------------+---+----------+-----------------------+------+-------+---------+--------------------+--------------------+--------------------+
|EmpID|          Name|Gender|Date_of_Birth|Age| Join_Date|Tenure_in_org_in_months| GROSS|Net_Pay|Deduction|Deduction_percentage|         Designation|          Department|
+-----+--------------+------+-------------+---+----------+-----------------------+------+-------+---------+--------------------+--------------------+--------------------+
|19575|  Keven Norman|     M|       3/9/94| 25|   2/12/19|                      7| 74922|  71494|     3428|                4.58|Product Operation...|IT Product Manage...|
|19944|Kristin Werner|     F|   23/06/1994| 26|13/01/2020|                      6| 44375|  39971|     4404|                9.92|Platform Operatio...| Platform Operations|
|20055|  Avery Barber|     M|   27/02/1996| 24|14/11/2019|                      8| 82263|  77705|     4558|                5.54|Platform Operatio...| Platform Operations|
|20058|  Boris Gibson|     M|   29/09/1993| 26|13/01/2020|                      6| 44375|  40164|     4211|                9.49|Platform Operatio...| Platform Operations|
|20332|     Leif Mack|     M|       1/5/91| 29|    4/6/18|                     25|235405| 143963|    91442|               38.84|Software Engineer...|Enterprise Access...|
|20849|Fredric Peters|     M|   29/04/1988| 32|   7/11/19|                      8| 87300|  57351|    29949|               34.31|LMS Administrator...|Learning & Develo...|
|20852| Sherry Bowman|     F|   17/11/1992| 27|13/01/2020|                      6| 44375|  39939|     4436|                  10|Platform Operatio...| Platform Operations|
|21115| Donte Richard|     M|   28/02/1996| 24|13/01/2020|                      6| 44375|  41431|     2944|                6.63|Platform Operatio...| Platform Operations|
|21437|  Bobby Horton|     M|   13/11/1995| 24|  11/11/19|                      8| 96995|  91930|     5065|                5.22|Technical Solutio...|AmaTec - Weekend TSE|
|22043| Kenya Montoya|     F|   24/09/1995| 24|13/01/2020|                      6| 44375|  39976|     4399|                9.91|Platform Operatio...| Platform Operations|
|22612|      Ola Lara|     F|      1/11/92| 27|26/09/2019|                      9| 99552|  88551|    11001|               11.05|Technical Solutio...|   AmaTec - EMEA TSE|
|22651|  Graham Carey|     M|       1/6/95| 25|13/01/2020|                      6| 44375|  39029|     5346|               12.05|Platform Operatio...| Platform Operations|
|22686|  Morgan Owens|     M|   14/05/1994| 26|17/10/2019|                      8| 68880|  65566|     3314|                4.81|Account Service M...|       Americas- AMG|
|22689|  Angie Norton|     F|       9/8/90| 29|17/10/2019|                      8|212250| 127263|    84987|               40.04|Software Engineer...|   Corporate Systems|
|22708| Jarvis Gamble|     M|   18/10/1992| 27|21/10/2019|                      8| 77795|  70953|     6842|                8.79|Network Administr...|Enterprise Infras...|
|22709|  Otto Sweeney|     M|   27/09/1986| 33|21/10/2019|                      8|175533| 128537|    46996|               26.77|Business Systems ...|   Corporate Systems|
|22720| Lea Mccormick|     F|   27/08/1988| 31|24/10/2019|                      8| 96367|  91567|     4800|                4.98|Client Service Ma...|       Americas- AMG|
|22726|Marvin Mcguire|     M|   18/01/1989| 31|21/10/2019|                      8|162667| 114570|    48097|               29.57|Business Operatio...|        Web Strategy|
|22727|  Booker Hodge|     M|      10/8/94| 25|24/10/2019|                      8|106933|  89377|    17556|               16.42|Systems Support E...|           IT DevOps|
|22730|    Fanny Reed|     F|   15/02/1996| 24|24/10/2019|                      8| 70417|  65607|     4810|                6.83|Server Tech Servi...|Networks - EMEA I...|
+-----+--------------+------+-------------+---+----------+-----------------------+------+-------+---------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
#Compare the current schema with the expected schema
if source_data.schema == expected_schema:
    print("The schema of the loaded DataFrame matches the expected schema.")
else:
    print("The schema of the loaded DataFrame does not match the expected schema..")

The schema of the loaded DataFrame does not match the expected schema..

In [ ]:
current_schema = source_data.schema

In [ ]:
#Add new fields to the schema if necessary
for field in expected_schema.fields:
    if field.name not in [f.name for f in current_schema.fields]:
        source_data = source_data.withColumn(field.name, lit(None).cast(field.dataType))

In [ ]:
#Modify the data type of existing fields if necessary
for field in current_schema.fields:
    expected_field = next((f for f in expected_schema.fields if f.name == field.name), None)
    if expected_field and field.dataType != expected_field.dataType:
        source_data = source_data.withColumn(field.name, source_data[field.name].cast(expected_field.dataType))

In [ ]:
#Write the transformed data into the target data storage
source_data.write.mode("overwrite").parquet("transformed_data")

In [ ]:
transformed_data = spark.read.parquet("transformed_data")

In [ ]:
print("Schéma des données transformées :")
transformed_data.printSchema()

Schéma des données transformées :
root
 |-- EmpID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Date_of_Birth: date (nullable = true)
 |-- Age: string (nullable = true)
 |-- Join_Date: string (nullable = true)
 |-- Tenure_in_org_in_months: integer (nullable = true)
 |-- GROSS: string (nullable = true)
 |-- Net_Pay: string (nullable = true)
 |-- Deduction: string (nullable = true)
 |-- Deduction_percentage: float (nullable = true)
 |-- Designation: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- NumberChildren: string (nullable = true)
 |-- Address: string (nullable = true)

In [ ]:
print("Données transformées :")
transformed_data.show(truncate=False)

Données transformées :
+-----+--------------+------+-------------+---+----------+-----------------------+------+-------+---------+--------------------+---------------------------------------+----------------------------------+--------------+-------+
|EmpID|Name          |Gender|Date_of_Birth|Age|Join_Date |Tenure_in_org_in_months|GROSS |Net_Pay|Deduction|Deduction_percentage|Designation                            |Department                        |NumberChildren|Address|
+-----+--------------+------+-------------+---+----------+-----------------------+------+-------+---------+--------------------+---------------------------------------+----------------------------------+--------------+-------+
|19575|Keven Norman  |M     |NULL         |25 |2/12/19   |7                      |74922 |71494  |3428     |4.58                |Product Operations Analyst.Associate.  |IT Product Management & Ops       |NULL          |NULL   |
|19944|Kristin Werner|F     |NULL         |26 |13/01/2020|6                      |44375 |39971  |4404     |9.92                |Platform Operations Engineer.Associate.|Platform Operations               |NULL          |NULL   |
|20055|Avery Barber  |M     |NULL         |24 |14/11/2019|8                      |82263 |77705  |4558     |5.54                |Platform Operations Engineer.Associate.|Platform Operations               |NULL          |NULL   |
|20058|Boris Gibson  |M     |NULL         |26 |13/01/2020|6                      |44375 |40164  |4211     |9.49                |Platform Operations Engineer.Associate.|Platform Operations               |NULL          |NULL   |
|20332|Leif Mack     |M     |NULL         |29 |4/6/18    |25                     |235405|143963 |91442    |38.84               |Software Engineer.Senior.              |Enterprise Access Engineering     |NULL          |NULL   |
|20849|Fredric Peters|M     |NULL         |32 |7/11/19   |8                      |87300 |57351  |29949    |34.31               |LMS Administrator II..                 |Learning & Development            |NULL          |NULL   |
|20852|Sherry Bowman |F     |NULL         |27 |13/01/2020|6                      |44375 |39939  |4436     |10.0                |Platform Operations Engineer.Associate.|Platform Operations               |NULL          |NULL   |
|21115|Donte Richard |M     |NULL         |24 |13/01/2020|6                      |44375 |41431  |2944     |6.63                |Platform Operations Engineer.Associate.|Platform Operations               |NULL          |NULL   |
|21437|Bobby Horton  |M     |NULL         |24 |11/11/19  |8                      |96995 |91930  |5065     |5.22                |Technical Solutions Engineer.Associate.|AmaTec - Weekend TSE              |NULL          |NULL   |
|22043|Kenya Montoya |F     |NULL         |24 |13/01/2020|6                      |44375 |39976  |4399     |9.91                |Platform Operations Engineer.Associate.|Platform Operations               |NULL          |NULL   |
|22612|Ola Lara      |F     |NULL         |27 |26/09/2019|9                      |99552 |88551  |11001    |11.05               |Technical Solutions Engineer..         |AmaTec - EMEA TSE                 |NULL          |NULL   |
|22651|Graham Carey  |M     |NULL         |25 |13/01/2020|6                      |44375 |39029  |5346     |12.05               |Platform Operations Engineer.Associate.|Platform Operations               |NULL          |NULL   |
|22686|Morgan Owens  |M     |NULL         |26 |17/10/2019|8                      |68880 |65566  |3314     |4.81                |Account Service Manager..              |Americas- AMG                     |NULL          |NULL   |
|22689|Angie Norton  |F     |NULL         |29 |17/10/2019|8                      |212250|127263 |84987    |40.04               |Software Engineer.Senior.              |Corporate Systems                 |NULL          |NULL   |
|22708|Jarvis Gamble |M     |NULL         |27 |21/10/2019|8                      |77795 |70953  |6842     |8.79                |Network Administrator..                |Enterprise Infrastructure Services|NULL          |NULL   |
|22709|Otto Sweeney  |M     |NULL         |33 |21/10/2019|8                      |175533|128537 |46996    |26.77               |Business Systems Analyst.Senior.       |Corporate Systems                 |NULL          |NULL   |
|22720|Lea Mccormick |F     |NULL         |31 |24/10/2019|8                      |96367 |91567  |4800     |4.98                |Client Service Manager..               |Americas- AMG                     |NULL          |NULL   |
|22726|Marvin Mcguire|M     |NULL         |31 |21/10/2019|8                      |162667|114570 |48097    |29.57               |Business Operations Analyst.Senior.    |Web Strategy                      |NULL          |NULL   |
|22727|Booker Hodge  |M     |NULL         |25 |24/10/2019|8                      |106933|89377  |17556    |16.42               |Systems Support Engineer II..          |IT DevOps                         |NULL          |NULL   |
|22730|Fanny Reed    |F     |NULL         |24 |24/10/2019|8                      |70417 |65607  |4810     |6.83                |Server Tech Services Engineer..        |Networks - EMEA Infrastructure    |NULL          |NULL   |
+-----+--------------+------+-------------+---+----------+-----------------------+------+-------+---------+--------------------+---------------------------------------+----------------------------------+--------------+-------+
only showing top 20 rows